.App {
  border-radius: 20px;
  max-width: 600px;
  margin: 30px auto;
}

.App.sunrise {
  background: url("./Assets/sunrise.jpg") center;
  height: 100 vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.morning {
  background: url("./Assets/morning.jpg") center;
  height: 100 vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App.afternoon {
  background: url("./Assets/afternoon.jpg") center;
  height: 100 vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.sunset {
  background: url("./Assets/sunset.jpg") center;
  height: 100 vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.night {
  background: url("https://images.pexels.com/photos/802571/pexels-photo-802571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    center;
  height: 100 vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App footer {
  font-size: 11px;
  color: #fff;
  margin: 10px 0;
}
